*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body{
     background-color: lightgrey;
 }
.container{
   
    margin: 70px auto 0;
    width: 795px;
}
    .area{
        background-color: white;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
        textarea{
            width: 100%;
            height: 100%;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            resize: none;

        }
        .keyboard{
            height: 50px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            
        }
            .symbol{
                background-color: white;
                width: 50px;
                height: 50px;
                margin-right: 5px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
                .flx-grw{
                    flex-grow: 1;
                }
                .mrg-rgh{
                    margin-right: 0;
                }
    .spaceBar{
        background-color: white;
        height: 50px;
        border-radius: 5px;
    }
    .active{
        background-color: DimGray;
    }